<div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card bg-dark text-white">
        <div class="card-header">
          Registro de cuenta
        </div>
        <div class="card-body">
          <form action="./signup.component.html" method="post">
            <div class="mb-3">
              <label for="name">Nombre:</label>
              <input
                type="text"
                class="form-control"
                name="name"
                placeholder="Nombre"
              />
            </div>
            <div class="mb-3">
              <label for="email">Email:</label>
              <input
                type="email"
                class="form-control"
                name="email"
                placeholder="Email"
              />
            </div>
            <div class="mb-3">
              <label for="password">Contraseña</label>
              <input
                type="password"
                class="form-control"
                name="password"
                placeholder="Contraseña"
              />
            </div>
            <div class="mb-3">
              <label for="confirm_password">Confirmar Contraseña:</label>
              <input
                type="password"
                class="form-control"
                name="confirm_password"
              />
            </div>
            <button class="btn btn-primary btn-block">
              Registrarse
            </button>
          </form>
        </div>
        <p class="text-center">¿Ya tienes una cuenta?
          <a routerLink="/signin" class="text-info">Inicia sesión</a></p>
      </div>
    </div>
  </div>